<div class="aboutBlock">
  <div class="verticalcenter">
    <div class="ABB animated bounceInRight">
      <h1 class="AB">My products</h1>
      <div class="mainBlock">
        <div class="maintitle aboutMeBg animated bounceInDown">
          <div class="aboutMe animated bounceInDown">
            <!-- Gallery start`s here -->
            <div class="demo-gallery">
              <!-- Gallery #1 -->

              <ul id="lightgallery3">
                <li data-src="//cn.opendesktop.org/img/a/b/a/f/474da4805f05db082dc0ae49e11861a40b5d.png" 
                data-sub-html="<h1><a href='https://www.gnome-look.org/p/1207015/' target='blank'>High Ubunterra</a></h1>
  <p>This is theme nearly looks like macOS lockscreen , with script which can set wallpaper for your desktop and simultaneously set same wallpaper on lock screen and login screen with blur effect like on macOS. In attachment you will find file ubuntu.css, where injected some changes, to make your login screen and lock screen looks more like mac OS.</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="//cn.opendesktop.org/img/a/b/a/f/474da4805f05db082dc0ae49e11861a40b5d.png">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
                <li data-src="//cn.opendesktop.org/img/d/7/9/2/024c75931e497b8071f8567a9e71822f3889.png" 
                data-sub-html="<h1><a href='https://www.gnome-look.org/p/1207015/' target='blank'>High Ubunterra</a></h1>
  <p>This is theme nearly looks like macOS lockscreen , with script which can set wallpaper for your desktop and simultaneously set same wallpaper on lock screen and login screen with blur effect like on macOS. In attachment you will find file ubuntu.css, where injected some changes, to make your login screen and lock screen looks more like mac OS.</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="//cn.opendesktop.org/img/d/7/9/2/024c75931e497b8071f8567a9e71822f3889.png">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
                </li>
                <li data-src="//cn.opendesktop.org/img/e/a/4/4/8df2b8aa55a397ddc60c0b511e91b7317580.png" 
                data-sub-html="<h1><a href='https://www.gnome-look.org/p/1207015/' target='blank'>High Ubunterra</a></h1>
<p>This is theme nearly looks like macOS lockscreen , with script which can set wallpaper for your desktop and simultaneously set same wallpaper on lock screen and login screen with blur effect like on macOS. In attachment you will find file ubuntu.css, where injected some changes, to make your login screen and lock screen looks more like mac OS.</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="//cn.opendesktop.org/img/e/a/4/4/8df2b8aa55a397ddc60c0b511e91b7317580.png">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
              </ul>
              <!-- Gallery #2 -->
              <ul id="lightgallery1">
                <li data-src="//userstyles.org/style_screenshots/164776_additional_32355.jpeg" 
                data-sub-html="<h1><a href='//userstyles.org/styles/164776/inoreader-big-card-view-no-ads' target='blank'>Inoreader Big card view (No ADS)</a></h1>
<p>Inoreader Big card view with 4 tiles on any screen resolution. Animation on hover and modern style for tiles! (no ADS)</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="//userstyles.org/style_screenshots/164776_additional_32355.jpeg">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
              </ul>
              <!-- Gallery #3 -->
              <ul id="lightgallery2">
                <li data-src="//userstyles.org/style_screenshots/164570_after.jpeg" 
                data-sub-html="<h1><a href='//userstyles.org/styles/164570/twitter-say-no-to-square-posts' target='blank'>Twitter - Say no to square posts</a></h1>
<p>This is very simple and comfortable theme which make your left and right dashboard is fixed, so u can scroll all your content and side board will be fixed on position. 
                    Next fix wich comfortable for me is, no square images in posts. Only 100% height images!</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="//userstyles.org/style_screenshots/164570_after.jpeg">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
              </ul>
              <!-- Gallery #4 -->
              <ul id="lightgallery">
                <li data-src="/assets/images/av/av-0.jpg" 
                data-sub-html="<h1><a href='//advokat-veprytskyi.com' target='blank'>Advokat Veprytskyi</a></h1>
  <p>Сustom business card website of Advokat Veprytskyi</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="/assets/images/av/av-0.jpg">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
                <li data-src="/assets/images/av/av-1.jpg" 
                data-sub-html="<h1><a href='//advokat-veprytskyi.com' target='blank'>Advokat Veprytskyi</a></h1>
  <p>Сustom business card website of Advokat Veprytskyi</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="/assets/images/av/av-1.jpg">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
                <li data-src="/assets/images/av/av-2.jpg" 
                data-sub-html="<h1><a href='//advokat-veprytskyi.com' target='blank'>Advokat Veprytskyi</a></h1>
  <p>Сustom business card website of Advokat Veprytskyi</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="/assets/images/av/av-2.jpg">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
                <li data-src="/assets/images/av/av-3.jpg" 
                data-sub-html="<h1><a href='//advokat-veprytskyi.com' target='blank'>Advokat Veprytskyi</a></h1>
  <p>Сustom business card website of Advokat Veprytskyi</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="/assets/images/av/av-3.jpg">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
                <li data-src="/assets/images/av/av-4.jpg" 
                data-sub-html="<h1><a href='//advokat-veprytskyi.com' target='blank'>Advokat Veprytskyi</a></h1>
  <p>Сustom business card website of Advokat Veprytskyi</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="/assets/images/av/av-4.jpg">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
                <li data-src="/assets/images/av/av-5.jpg" 
                data-sub-html="<h1><a href='//advokat-veprytskyi.com' target='blank'>Advokat Veprytskyi</a></h1>
  <p>Сustom business card website of Advokat Veprytskyi</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="/assets/images/av/av-5.jpg">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
                <li data-src="/assets/images/av/av-6.jpg" 
                data-sub-html="<h1><a href='//advokat-veprytskyi.com' target='blank'>Advokat Veprytskyi</a></h1>
  <p>Сustom business card website of Advokat Veprytskyi</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="/assets/images/av/av-6.jpg">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
                <li data-src="/assets/images/av/av-7.jpg" 
                data-sub-html="<h1><a href='//advokat-veprytskyi.com' target='blank'>Advokat Veprytskyi</a></h1>
  <p>Сustom business card website of Advokat Veprytskyi</p>"
                  data-pinterest-text="Pin it" data-tweet-text="share on twitter ">
                  <a href="">
                    <img class="img-responsive" src="/assets/images/av/av-7.jpg">
                    <div class="demo-gallery-poster"><img src="https://sachinchoolur.github.io/lightGallery/static/img/zoom.png"></div>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Gallery end`s here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<script type="text/javascript" defer>
  $(document).ready(function () {
    $('#lightgallery').lightGallery({
      pager: true
    });
  });
  $(document).ready(function () {
    $('#lightgallery1').lightGallery({
      pager: true
    });
  });
  $(document).ready(function () {
    $('#lightgallery2').lightGallery({
      pager: true
    });
  });
  $(document).ready(function () {
    $('#lightgallery3').lightGallery({
      pager: true
    });
  });

</script>
