<div class="aboutBlock">
  <div class="verticalcenter">
    <div class="ABB animated bounceInRight">
      <h1 class="AB">High Ubunterra</h1>
      <div class="mainBlock">
        <div class="maintitle aboutMeBg animated bounceInDown">
          <div class="aboutMe animated bounceInDown">
            <div class="col-sm-12">
              <h3>Description:</h3></br>
              <p>
                This is theme nearly looks like macOS lockscreen , with script which can set wallpaper for your desktop
                and simultaneously set same wallpaper on lock screen and login screen with blur effect like on macOS.
                In attachment you will find file ubuntu.css, where injected some changes, to make your login screen and
                lock screen looks more like mac OS.
                </br></br>
                ATTENTION: TESTED AND WORK ONLY ON UBUNTU 17.10 with GDM3 (xorg), 18.04.xx LTS (Any other OS based on
                Linux like: Lubuntu, Xbunte, Kubuntu, KDE, Manjaro, Mint and other... didn't tested!!!).
                </br></br>
                <h3>For Ubuntu 19.04 (Disco Dingo) download files:</br></h3></br>
                <div class="col-sm-12">
                  <ul>
                    <li><a href="https://www.gnome-look.org/p/1207015/startdownload?file_id=1555833200&file_name=High_Ubunterra_DD-2.4(noPass).tar.xz&file_type=application/x-xz&file_size=902644" target="blank" title="High_Ubunterra_DD-X.X(noPass).tar.xz (For Ubuntu 19.04 without password (Not Safe)">High_Ubunterra_DD-2.4(noPass).tar.xz (For Ubuntu 19.04 without password (Not Safe)</a></li>
                    <li><a href="https://www.gnome-look.org/p/1207015/startdownload?file_id=1555833571&file_name=High_Ubunterra_DD-2.4(Pass).tar.xz&file_type=application/x-xz&file_size=900952" target="blank" title="High_Ubunterra_DD-X.X(Pass).tar.xz (For Ubuntu 19.04 with asking password)">High_Ubunterra_DD-2.4(Pass).tar.xz (For Ubuntu 19.04 with asking password)</a></li>
                  </ul>
                </div></br></br>
                <h3>For Ubuntu 18.10 (Cosmic Cuttlefish) download files:</br></h3></br>
                <div class="col-sm-12">
                  <ul>
                    <li><a href="https://www.gnome-look.org/p/1207015/startdownload?file_id=1543251653&file_name=High_Ubunterra_CC-2.3(noPass).tar.xz&file_type=application/x-xz&file_size=899692" target="blank" title="High_Ubunterra_CC-X.X(noPass).tar.xz (For Ubuntu 18.10 without password (Not Safe)">High_Ubunterra_CC-2.3(noPass).tar.xz (For Ubuntu 18.10 without password (Not Safe)</a></li>
                    <li><a href="https://www.gnome-look.org/p/1207015/startdownload?file_id=1543251756&file_name=High_Ubunterra_CC-2.3(Pass).tar.xz&file_type=application/x-xz&file_size=901488" target="blank" title="High_Ubunterra_CC-X.X(Pass).tar.xz (For Ubuntu 18.10 with asking password)">High_Ubunterra_CC-2.3(Pass).tar.xz (For Ubuntu 18.10 with asking password)</a></li>
                  </ul>
                </div></br></br>
                <h3>For Ubuntu 17.10 and 18.04 download files:</br></h3></br>
                <div class="col-sm-12">
                  <ul>
                    <li><a href="https://www.gnome-look.org/dl?file_id=1543091009&file_type=application/x-xz&file_name=High_Ubunterra_2.3(noPass).tar.xz&file_size=902020&project_id=1207015" target="blank" title="High_Ubunterra_CC-X.X(noPass).tar.xz (For Ubuntu 17.10 and 18.04 without password (Not Safe)">High_Ubunterra_2.3(noPass).tar.xz (For Ubuntu 17.10 and 18.04 without password (Not Safe)</a></li>
                    <li><a href="https://www.gnome-look.org/dl?file_id=1543091033&file_type=application/x-xz&file_name=High_Ubunterra_2.3(Pass).tar.xz&file_size=904736&project_id=1207015" target="blank" title="High_Ubunterra_CC-X.X(Pass).tar.xz (For Ubuntu 17.10 and 18.04 with asking password)">High_Ubunterra_2.3(Pass).tar.xz (For Ubuntu 17.10 and 18.04 with asking password)</a></li>
                  </br><li><a href="https://www.gnome-look.org/p/1207015/" target="blank" title="High Ubunterra on gnome-look.org">gnome-look.org</a></li>
                  </ul>
                </div>
                </br></br>
                Two versions:
                High_Ubunterra_X.X(noPass) - without asking password to set wallpaper but script give full permission
                for root folder " /usr/share/backgrounds/ " by chmod 777 (not safety).
                High_Ubunterra_X.X(Pass) - with asking password each time you set wallpaper for change background of "
                lockscreen ", it is safe, but not comfortable for user.</p>
            </div></br>
            <svg height="2" width="100%">
              <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#363535;stroke-width:2" />
            </svg>
            <div class="col-sm-12">
              <h3>INSTALLATION howto:</h3></br>
              <p>
                1. Click right button of mouse and chose "Open in Terminal" in folder with install.sh, then type
                command ./install.sh
                </br>
                2. Now you just choose your image right click mouse button you will see script and "SetAsWallpaper"
                just click on it, wallpaper already set.
                </br>
                3. To uninstall use command ./uninstall.sh
                </br>
                Enjoy!
                </br>
                Video user manual: <a href="https://www.youtube.com/watch?v=SUbGma_-d20" target="blank" title="Ubuntu to MacOS">Click here</a>
              </p></br>
            </div>
            <svg height="2" width="100%">
              <line x1="0" y1="0" x2="100%" y2="0" style="stroke:#363535;stroke-width:2" />
            </svg>
            <div class="col-sm-12">
              <h3>Last changelog:</h3></br>
              <p>
                <span class="titlesAbout subTitleAbout">2.3</span> version</br>
                - fixed the quality of blurry images;
                </br>
                - ADD - version for Ubuntu 18.10 (Cosmic Cuttlefish).
              </p></br>
            </div>
            <div id="cp_widget_4a051fe3-793d-4ff6-b0e8-30297c3fe4f0">...</div>
            <script type="text/javascript">
              var cpo = [];
              cpo["_object"] = "cp_widget_4a051fe3-793d-4ff6-b0e8-30297c3fe4f0";
              cpo["_fid"] = "A0KAoZ-PuJgL";
              var _cpmp = _cpmp || [];
              _cpmp.push(cpo);
              (function () {
                var cp = document.createElement("script");
                cp.type = "text/javascript";
                cp.async = true;
                cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                var c = document.getElementsByTagName("script")[0];
                c.parentNode.insertBefore(cp, c);
              })();

            </script><noscript><span>New Gallery 2018/12/22</span><span>HIGH UBUNTERRA</span><span>originaldate</span><span>
                1/1/0001 6:00:00 AM</span><span>width</span><span> 1680</span><span>height</span><span> 1050</span><span>HIGH
                UBUNTERRA</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span> 1680</span><span>height</span><span>
                1050</span><span>HIGH UBUNTERRA</span><span>originaldate</span><span> 1/1/0001 6:00:00 AM</span><span>width</span><span>
                1680</span><span>height</span><span> 1050</span></noscript>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
