<div class="contactsBlock">
  <div class="verticalcenter">
    <div class="CTB  animated bounceInRight">
      <h1 class="CT">contacts</h1>
      <section class="links">
        <div class="facebook animated bounceInRight">
          <div class="toggle-section">
            <h1>facebook</h1>
            <a href="https://www.facebook.com/wwwclick"><h1 class="main-text"><i class="fa fa-facebook" style="color: #4467b1" aria-hidden="true"></i></h1></a>
          </div>
        </div>
        <div class="twitter animated bounceInRight">
          <div class="toggle-section">
            <h1>twitter</h1>
            <a href="https://twitter.com/EugeneVep"><h1 class="main-text"><i class="fa fa-twitter" style="color: #00aced" aria-hidden="true"></i></h1></a>
          </div>
        </div>
        <div class="google animated bounceInRight">
          <div class="toggle-section">
            <h1>google plus</h1>
            <a href="https://plus.google.com/u/0/108604822962675293274"><h1 class="main-text"><i class="fa fa-google-plus" style="color: #d34836" aria-hidden="true"></i></h1></a>
          </div>
        </div>
      </section>
      <!-- <h3 class="instagram animated bounceInRight"><a href="https://www.instagram.com/click_ua/">instagram</a></h2> -->
    </div>
  </div>
