.CTB {
  top: 12%;
  @media (orientation: portrait) {
    top: 10%;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 1240px) and (orientation: landscape) {
    top: 15%;
  }
}

.links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.facebook {
  -webkit-animation-delay: 500ms;
}

.twitter {
  -webkit-animation-delay: 800ms;
}

.LinkedIn {
  -webkit-animation-delay: 1200ms;
}

.toggle-section h1,
.toggle-section .main-text {
  -webkit-animation-delay: 900ms;
  -moz-transition: height 400ms;
  -o-transition: height 400ms;
  -webkit-transition: height 400ms;
  transition: height 400ms;
  overflow: hidden;
  height: 1.2em;
  font-size: 5vw;
  @media (orientation: portrait) {
    font-size: 11vw;
    eight: 1.3em;
  }
}

.toggle-section .main-text {
  height: 0;
}

.toggle-section:hover h1,
.toggle-section:focus h1 {
  height: 0;
  cursor: pointer;
}

.toggle-section:hover .main-text,
.toggle-section:focus .main-text {
  height: 1.2em;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.form__wrap{
  margin-top: 20px;
}

.form__label{
  width: 100%;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 14pt;
  font-weight: 100;
  text-align: center;
  margin: 0 auto 25px;
  color: rgba(0, 0, 0, 1);
}

#form{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.email__form{
  width: 320px!important;
  margin: -8px auto;
  font-size: 10pt!important;
}

.send__button{
  height: 50px;
  color: @colorNavBar;
  background: none;
  border-color: rgba(0, 0, 0, 0.0);
  margin:-22px auto 33px!important;
  bottom: -66px;
  padding: 0;
  transition: .2s;
  font-family: 'Work Sans', sans-serif;
  font-size: 18pt;
  font-weight: 600;
  &:hover{
    filter:drop-shadow(0 2px 3px rgba(0, 0, 0, .0));
  }
  &:focus{
    outline-style: none;
  }
}
input[type=file] {
  cursor: pointer;
  width: 180px;
  height: 34px;
  overflow: hidden;
  color: rgba(0, 0, 0, .5);
}

input[type=file]:before {
  // height: 35px;
  font-size: 10pt!important;
  // line-height: 0px;
  content: 'Select file:';
  // background: rgba(0, 0, 0, .0);
  // border: 0px solid #000;
  text-align: left;
  font-family: 'Work Sans', sans-serif;
  font-weight: 100;
  // padding-top: 8px!important;
  text-transform: uppercase;
  color: rgba(0, 0, 0, .5);
}

input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

.input__file{
  padding-top: 5px!important;
  text-align: right!important;
}