<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 myCols">
        <h5>Get started</h5>
        <ul>
          <li><a href="home">Home</a></li>
          <li><a href="my_products">Portfolio</a></li>
        </ul>
      </div>
      <div class="col-sm-3 myCols">
        <h5>About us</h5>
        <ul>
          <li><a href="about">Information</a></li>
          <li><a href="contacts">Contact me</a></li>
        </ul>
      </div>
      <div class="col-sm-3 myCols">
        <h5>Support</h5>
        <ul>
          <li><a>FAQ</a></li>
          <li><a>Help desk</a></li>
        </ul>
      </div>
      <div class="col-sm-3 myCols">
        <h5>Legal</h5>
        <ul>
          <li><a>Terms of Service</a></li>
          <li><a>Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="social-networks">
    <a href="//twitter.com/EugeneVep" class="twitter"><i class="fa fa-twitter"></i></a>
    <a href="//www.facebook.com/wwwclick" class="facebook"><i class="fa fa-facebook-official"></i></a>
    <a href="//plus.google.com/u/0/108604822962675293274" class="google"><i class="fa fa-google-plus"></i></a>
  </div>
  <div class="footer-copyright">
    <p>© 2017 Eugene Veprytskyi </p>
  </div>
</footer>
