<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <a target="top" href="https://www.yahoo.com/news/weather/ukraine/kharkiv-oblast/kharkiv-922137">
      <div id="weather" popover-animation="true" uib-popover="Погода в Харькове" popover-append-to-body="true" popover-placement="bottom" popover-trigger="mouseenter"></div>
    </a>
    <div class="navbar-header">
      <a class="navbar-brand" href="#home">
        <acme-logo></acme-logo>
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="nav navbar-nav collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#home">Home</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contacts">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<script>

$(document).ready(function() {  
  getWeather(); //Get the initial weather.
  setInterval(getWeather, 600000); //Update the weather every 10 minutes.
});

function getWeather() {
  $.simpleWeather({
    location: 'Kharkiv, UA',
    unit: 'c',
    success: function(weather) {
      html = '<h2><i class="icon-' + weather.code + '"></i> ' + weather.temp + '&deg;' + weather.units.temp + '</h2>';
      html += '<ul><li>' + weather.city + '</li>'; //, '+weather.region+'
      html += '<li class="currently">'+weather.currently+'</li>';
      // html += '<li>'+weather.alt.temp+'&deg;C</li></ul>';
  
      $("#weather").html(html);
    },
    error: function(error) {
      $("#weather").html('<p>'+error+'</p>');
    }
  });
}

</script>
