.homepage {
  margin: auto;
  padding-bottom: 20px;
  width: 40%;
  border-radius: 5px;
  overflow: hidden;
  @media only screen and (min-width: 128px) and (max-width: 414px) {
    width: 100%;
  }  
  @media only screen and (min-width: 415px) and (max-width: 1024px) {
    width: 50%;
  }
}

/* @media only screen and (min-width: 320px) and (max-width: 1240px) and (orientation: landscape) {
  p #celsiy {
    float: right;
    font-size: 6px!important;
  }
  .homepage {
    margin: auto;
    padding-bottom: 0;
    width: 320px;
    -webkit-animation-delay: 1500ms;
    overflow: hidden;
  }
} */


.col-xs-1mod {
  padding: 0;
}

.clockSec ul li,
ul {
  list-style-type: none;
  display: inline-block;
  clear: none;
  opacity: 100%;
  -webkit-padding-start: 0 !important;
}

#hello {
  position: relative;
  color: @txtColor;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100!important;
  color: #000;
  font-size: 1.8em;
  margin: 0 0 20px 0;
  @media only screen and (min-width: 320px) and (max-width: 1240px) and (orientation: landscape) {
    margin: 0 0 5px 0;
    font-size: 1.2em;
  }

  @media (orientation: portrait) {
    margin: 0 0 10px 0;
  }
}


#citat {
  position: absolute;
  width: 98%;
  bottom: 0;
  color: @txtColor;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3vh;
}

.citat {
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.verticalcenter {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
  display: inline-flex;
}

.popoverBg {
  background: -webkit-linear-gradient(50deg, #C4C6C5, #f2f2f2);
  background: -o-linear-gradient(50deg, #C4C6C5, #f2f2f2);
  background: -moz-linear-gradient(50deg, #C4C6C5, #f2f2f2);
  background: linear-gradient(50deg, #C4C6C5, #f2f2f2);
}

.popover {
  width: 12vw;
  text-align: center;
  border-radius: 10px;
  border: 0 transparent;
  .popoverBg;
  @media (orientation: portrait) {
    width: 40vw;
  }
}

.popover.bottom>.arrow:after {
  border-bottom-color: #e1e1e1;
}

.popover.top>.arrow:after {
  border-top-color: #d6d6d6;
}

.searchWrap {
  margin: auto;
  padding-bottom: 20px;
  width: 40vw;
  height: 50px;
  -webkit-animation-delay: 1500ms;
  overflow: hidden;
  @media (orientation: portrait) {
    width: 100vw;
  }
}

.googleSearch {
  left: 0;
  position: absolute;
  z-index: 9999;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  top: 10vh;
  -webkit-animation-delay: 200ms;
}

.rand-serc {
  margin: 5% 0 0 0;
  display: inline-block;
  float: none;
}

.inputmixin {
  overflow: hidden;
  background: rgba(0, 0, 0, .02);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 50px;
  -moz-box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .1);
  font-size: 2.5vh;
  &:focus {
    outline: 0;
  }
}

.devicemixin {
  @media only screen and (min-width: 320px) and (max-width: 1240px) and (orientation: landscape) {
    width: 100%;
    height: 25px;
  }
}

#searchTxt {
  width: 100%;
  height: 35px;
  padding: 0 15px 0 15px;
  font-family: FontAwesome, 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
  font-weight: normal;
  color: #000;
  .inputmixin;
  .devicemixin
}

.svgrandom {
  width: 100%;
  height: 35px;
  .devicemixin
}

#random {
  width: 35px;
  height: 35px;
  @media only screen and (min-width: 320px) and (max-width: 1240px) and (orientation: landscape) {
    width: 25px;
    height: 25px;
  }
  cursor: pointer;
  &:hover {
    -webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
  }
}

.rightempty {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (min-width: 320px) and (max-width: 1240px) and (orientation: landscape) {
    width: 120%;
    height: 25px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#weekday {
  .dsDate .widget-clock .time
}

.dateTime {
  margin: 10px 0 10px 0;
}

.widget-clock .time {
  font-family: 'Work Sans', sans-serif;
  font-weight: 100!important;
  color: #000;
}

.dsDate {
  margin: 0;
  @media only screen and (min-width: 320px) and (max-width: 1240px) and (orientation: landscape) {
    margin: 0 0 10px 0;
  }
}

.dsDate .widget-clock .time {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100!important;
  color: #000;
  font-size: 1.8em;
  @media only screen and (min-width: 320px) and (max-width: 1240px) {
    font-size:1.1em;
  }
}

.clock {
  margin: 0 auto;
  padding: 12px;
  color: #fff;
}

#point {
  font-size: 1.8em;
  position: relative;
  animation: dots 1s ease infinite;
  -moz-animation: dots 1s ease infinite;
  -webkit-animation: dots 1s ease infinite;
}

.dotsKeyframes {
  0% {
    opacity: 1.0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1.0;
  }
}

;
@keyframes dots {
  .dotsKeyframes
}

@-webkit-keyframes dots {
  .dotsKeyframes
}

@-moz-keyframes dots {
  .dotsKeyframes
}

// VIDEO with blur
#bgvid {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  object-position: bottom;
  transform: translateX(-50%) translateY(-50%);
}

#bgvid2 {
  display: none;
  position: absolute;
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  left: 50%;
  top: 50%;
  filter: blur(@blur);
  -o-filter: blur(@blur);
  -ms-filter: blur(@blur);
  -moz-filter: blur(@blur);
  -webkit-filter: blur(@blur);
  transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}


// bootsrap toggle
// Colors
@brand-primary: #29b5a8;
@brand-secondary: #ff8300;
@gray: #6b7381;
@gray-light: #797979;
@gray-lighter: #797979;
;

// Button Colors
@btn-default-color: @gray;
@btn-default-bg: @gray-lighter;

// Toggle Sizes
@toggle-default-size: 1.5rem;
@toggle-default-label-width: 4rem;
@toggle-default-font-size: .75rem;


// Mixin for Switch Colors
// Variables: @color, @bg, @active-bg
.toggle-color(@color: @btn-default-color;
@bg: @btn-default-bg;
@active-bg: @brand-primary;
) {
  color: @color;
  background: @bg;
  &:before,
  &:after {
    color: @color;
  }
  &.active {
    background-color: @active-bg;
  }
}

// Mixin for Default Switch Styles
// Variables: @size, @margin, @color, @bg, @active-bg, @font-size
.toggle-mixin(@size: @toggle-default-size;
@margin: @toggle-default-label-width;
@font-size: @toggle-default-font-size;
) {
  // color: @color;
  // background: @bg;
  margin: 0 @margin;
  padding: 0;
  position: relative;
  border: none;
  height: @size;
  width: @size * 2;
  border-radius: @size;

  &:focus,
  &.focus {
    &,
    &.active {
      outline: none;
    }
  }

  &:before,
  &:after {
    line-height: @size;
    width: @margin;
    text-align: center;
    font-weight: 600; // color: @color;
    font-size: @font-size;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: absolute;
    bottom: 0;
    transition: opacity .25s;
  }
  &:before {
    content: 'Off';
    left: -@margin;
  }
  &:after {
    content: 'On';
    right: -@margin;
    opacity: .5;
  }

  >.handle {
    position: absolute;
    top: (@size * .25) / 2;
    left: (@size * .25) / 2;
    width: @size * .75;
    height: @size * .75;
    border-radius: @size * .75;
    background: #fff;
    transition: left .25s;
  }
  &.active {
    transition: background-color .25s;
    >.handle {
      left: @size + ((@size * .25) / 2);
      transition: left .25s;
    }
    &:before {
      opacity: .5;
    }
    &:after {
      opacity: 1;
    }
  }

  &.btn-sm {
    &:before,
    &:after {
      line-height: @size - 2px;
      color: #fff;
      letter-spacing: .75px;
      left: @size * .275;
      width: @size * 1.55;
    }
    &:before {
      text-align: right;
    }
    &:after {
      text-align: left;
      opacity: 0;
    }
    &.active {
      &:before {
        opacity: 0;
      }
      &:after {
        opacity: 1;
      }
    }
  }

  &.btn-xs {
    &:before,
    &:after {
      display: none;
    }
  }
}



// Apply Mixin to different sizes & colors
.btn-toggle {

  .toggle-mixin;
  .toggle-color;

  &.btn-lg {
    .toggle-mixin(@size: 2.5rem;
    @font-size: 1rem;
    @margin: 5rem;
    );
  }

  &.btn-sm {
    .toggle-mixin(@font-size: .55rem;
    @margin: .5rem;
    );
  }

  &.btn-xs {
    .toggle-mixin(@size: 1rem;
    @margin: 0;
    )
  }

  &.btn-secondary {
    .toggle-color(@active-bg: @brand-secondary);
  }
}

.btn-toggle.btn-sm {
  margin: 0
}
