@txtColor: #000;
@placeholderColor: #595959;
.homepage {
  margin: auto;
  padding-bottom: 20px;
  width: 40vw;
  overflow: hidden;
  @media (orientation: portrait) {
    width: 100vw;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1240px) and (orientation: landscape) {
  p #celsiy {
    float: right;
    font-size: 6px!important;
  }
  .homepage {
    margin: auto;
    padding-bottom: 0;
    width: 40vw;
    -webkit-animation-delay: 1500ms;
    /*  -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2))); */
    overflow: hidden;
  }
  #day {
    margin-bottom: 5px;
  }
  .myWeather {
    margin: 10px 0 10px 0;
    width: 100%;
    & p {
      font-family: 'Open Sans', sans-serif;
      font-weight: 100;
      font-size: 8pt;
      margin-bottom: 0;
      color: @txtColor;
    }
  }
}

#clock {
  display: inline;
  clear: none;
}

#sec {
  display: inline;
  clear: none;
}

#date {
  cursor: default;
  font-weight: 300;
  font-size: 3vh;
  margin-bottom: 5px;
  @media (orientation: portrait) {
    left: 0;
    font-size: 5vw;
  }
}

#day {
  cursor: default;
  color: @txtColor;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 3vh;
  margin: 0 5px 0 0;
}

.clockSec #day,
.clockSec #date {
  display: inline;
  vertical-align: middle;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic');
#hello {
  position: relative;
  color: @txtColor;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 3vh;
  margin: 20px 0 20px 0;
}

.citat {
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

#citat {
  position: absolute;
  width: 98%;
  bottom: 0;
  color: @txtColor;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 3vh;
}




/* WEATHER */

.weathTxt {
  float: right;
  width: auto;
  &:hover {
    -moz-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-filter: drop-shadow(2px 2px 3px #000);
    filter: drop-shadow(2px 2px 3px #000);
  }
}

.myWeather {
  margin: 10px 0 10px 0;
  width: 100%;
  & p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    margin-bottom: 0;
    color: @txtColor;
  }
}

#weather {
  display: none;
}

.weathTxt {
  text-align: right;
  color: @txtColor!important;
}

p #celsiy {
  float: right;
  font-size: 10px;
}

.col-xs-6-align {
  text-align: right;
}


#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
}

.verticalcenter {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  vertical-align: middle;
  display: inline-flex;
}

.popover {
  width: 12vw;
  text-align:center;
  border-radius: 0;
  border: 0 transparent;
  background-color: rgba(226, 226, 226, 0.7);
  @media (orientation:portrait) {
    width: 40vw;
  }
}

.popover.top>.arrow:after {
  border-top-color: rgba(226, 226, 226, 0.8);
}

.searchWrap {
  margin: auto;
  padding-bottom: 20px;
  width: 40vw;
  height: 50px;
  -webkit-animation-delay: 1500ms;
  overflow: hidden;
  @media (orientation: portrait) {
    width: 100vw;
  }
}

.googleSearch {
  left: 0;
  position: absolute;
  z-index: 9999;
  width: 100vw;
  margin: 0 auto;
  text-align: center;
  top: 10vh;
  -webkit-animation-delay: 200ms;
}

#searchTxt {
  width: 40vw;
  overflow: hidden;
  padding: 5px 10px 5px 10px;
  font-family: 'Open Sans', sans-serif;
  color: @txtColor;
  font-size: 2.5vh;
  font-weight: 100;
  text-transform: uppercase;
  background: rgba(255, 255, 250, .0);
  border: 0px solid #fff;
  border-bottom: 0px solid rgba(255, 255, 255, .5);
  &:focus {
    outline: 0;
  }
  @media (orientation: portrait) {
    margin: auto;
  }
}

::-webkit-input-placeholder {
  color: @placeholderColor;
  text-align: center;
}

::-moz-placeholder {
  color: @placeholderColor;
  text-align: center;
}

:-moz-placeholder {
  color: @placeholderColor;
  text-align: center;
}

:-ms-input-placeholder {
  color: @placeholderColor;
  text-align: center;
}

.randwal p {
  cursor: pointer;
}

.bg {
  object-fit: cover;
}

iframe[class] {
  width: 100%;
}

iframe {
  position: absolute;
  height: 99.99999vh;
  left: 0;
  margin: 0;
  top: 0;
}
