.homepage {
  margin: auto;
  width: 80vh;
}
@media (orientation: portrait) {
  .homepage {
    width: 40vh;
  }
}
#clock {
  cursor: pointer;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: default;
  margin: 0;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
  color: #f8f8f8;
  font-size: 8vw;
  font-weight: 100;
  text-transform: uppercase;
}
@media (orientation: portrait) {
  #clock {
    left: 0;
    font-size: 24vw;
  }
}
#clock:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.homepage a {
  text-decoration: none;
  color: #f8f8f8;
}
#date {
  cursor: default;
  font-weight: 300;
  font-size: 5vh;
}
@media (orientation: portrait) {
  #date {
    left: 0;
    font-size: 6vw;
  }
}
#day {
  cursor: default;
  color: #f8f8f8;
  font-weight: 100;
}
