:root {
  --mainblockbg: url(../../assets/images/background/1.jpg) top center fixed;
}

@Blocsminheight: 100vh;
@Blocsmaxheight: 100vh;
@paddingAllBlocks: 100px 15px 60px 15px;
@bgSize: cover;
@scales: 1.01;
@blur: 8px;
@hoverColor: #fff;
@logotxtColor: @hoverColor;
@logoLockColor: #f1002b;
@navbarcolor: rgba(0, 0, 0, 0.8);
@navbar-inverse-link-color: #d2d1d1;
@icon-font-path: '../../bootstrap/fonts/';

@media (max-width: 100vw) and (orientation: landscape) {
  .container {
    min-width: 95vw!important;
  }
}


html,
body {
  background-color: rgba(0, 0, 0, 1);
}

body::-webkit-scrollbar {
  width: 5px;
}

body.thin::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #36454d;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #000;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(100, 100, 100, 0.9);
}

.mainBlock,
.portfolioBlock,
.aboutBlock,
.contactsBlock {
  background: var(--mainblockbg);
  background-size: @bgSize;
  padding: @paddingAllBlocks;
  min-height: @Blocsminheight;
  max-height: @Blocsmaxheight;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
  overflow: hidden;
}

.mainBlock::after {
  background-color: #000;
}



/*Main Title for all pages*/

@import url('https://fonts.googleapis.com/css?family=Lato:100');

.maintitle {
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.citat {
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 3s;
}

.maintitle:before {
  content: '';
  background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 250, .3)), var(--mainblockbg);
  background-size: @bgSize;
  background-attachment: fixed;
  overflow: hidden;
  position: absolute;
  height: 400px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  filter: blur(@blur);
  -o-filter: blur(@blur);
  -ms-filter: blur(@blur);
  -moz-filter: blur(@blur);
  -webkit-filter: blur(@blur);
  transform: scale(@scales);
  -o-transform: scale(@scales);
  -ms-transform: scale(@scales);
  -moz-transform: scale(@scales);
  -webkit-transform: scale(@scales);
}

@media only screen and (orientation: portrait) {
  .maintitle:before {
    content: '';
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 250, .6));
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1240px) and (orientation: landscape) {
  .maintitle:before {
    content: '';
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 250, .6));
  }
}

.maintitle h1,
.PFB h1,
.ABB h1,
.CTB h1 {
  cursor: default;
  margin: 0;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
  color: @txtColor;
  font-size: 8vw;
  font-weight: 100;
  text-transform: uppercase;
  @media (orientation: portrait) {
    left: 0;
    font-size: 16vw;
  }
}

.maintitle h4 {
  margin: 0;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
  color: @txtColor;
  font-size: 3vw;
  font-weight: 100;
  text-transform: uppercase;
  @media (orientation: portrait) {
    left: 0;
    font-size: 8vw;
  }
}



/* Reflection */

.PF,
.CT,
.AB {
/*   -webkit-box-reflect: below -80% -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
@media (orientation: portrait) {
  -webkit-box-reflect: below -20px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
} */
}

.PFB,
.ABB,
.CTB {
  position: relative;
  top: 30px;
  text-align: center;
  margin: auto;
  padding-bottom: 60px;
  width: 50vw;
  -webkit-animation-delay: 500ms;
  overflow: hidden;
  @media (orientation: portrait) {
    width: 100vw;
  }
}

.randwal {
  font-size: 8pt;
}

a {
  text-decoration: none !important;
}

