@mainBlockbg: url(../../assets/images/background/1.jpg) top center fixed; /*http://webbgwall.unaux.com/randomwall.php*/
@aboutbg: url(../../assets/images/background/2.jpg) top center fixed;
@portfolio: url(../../assets/images/background/3.jpg) top center fixed;
@contacts: url(../../assets/images/background/4.jpg) top center fixed;
@Blocsminheight: 100vh;
@Blocsmaxheight: 100%;
@paddingAllBlocks: 100px 15px 60px 15px;
@bgSize: cover;

body {
  background-color: #000;
}

.overflow {
  overflow: hidden;
}

.mainBlock,
.aboutBlock,
.portfolioBlock,
.contactsBlock {
  padding: @paddingAllBlocks;
  min-height: @Blocsminheight;
  max-height: @Blocsmaxheight;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0,0,0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0,0,0);
  transform: translateZ(0);
}

.mainBlock {
  background: @mainBlockbg;
  background-size: @bgSize;
}

.aboutBlock {
  background: @aboutbg;
  background-size: @bgSize;
}

.portfolioBlock {
  background: @portfolio;
  background-size: @bgSize;
}

.contactsBlock {
  background: @contacts;
  background-size: @bgSize;
}

/*Main Title for all pages*/

@import url('https://fonts.googleapis.com/css?family=Lato:100');

.maintitle {
  text-align: center;
  position: relative;
  top: 30vh;
  overflow: hidden;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 1s;
}

.maintitle h1 {
  cursor: default;
  margin: 0;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
  color: #f8f8f8;
  font-size: 8vw;
  font-weight: 100;
  text-transform: uppercase;
  @media (orientation: portrait) {
    left: 0;
    font-size: 16vw;
  }
}

.maintitle h4 {
  margin: 0;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
  color: #f8f8f8;
  font-size: 3vw;
  font-weight: 100;
  text-transform: uppercase;
  @media (orientation: portrait) {
    left: 0;
    font-size: 8vw;
  }
}

/*Main Title for all pages*/

.PF, .CT, .AB {
  -webkit-box-reflect: below -40px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
  @media (orientation: portrait) {
    -webkit-box-reflect: below -20px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
  }
}
