@mainBlockbg: url(../../assets/images/background/3.jpg) top center fixed;

/* linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), */


/*http://webbgwall.unaux.com/randomwall.php*/


/* @aboutbg: url(../../assets/images/background/2.jpg) top center fixed;
@portfolio: url(../../assets/images/background/3.jpg) top center fixed;
@contacts: url(../../assets/images/background/4.jpg) top center fixed; */

@Blocsminheight: 100vh;
@Blocsmaxheight: 100%;
@paddingAllBlocks: 100px 15px 60px 15px;
@bgSize: cover;
@scales: 1.01;
@blur: 8px;
@hoverColor: #fff;
@logotxtColor: #000;
@logoLockColor: #f1002b;
@navbarcolor: rgba(0, 0, 0, 0.8);
@navbar-inverse-link-color: #d2d1d1;
@icon-font-path: '../../bootstrap/fonts/';

body {
  background-color: #000;
}

.overflow {
  overflow: hidden;
}

.mainBlock,
.aboutBlock,
.portfolioBlock,
.contactsBlock {
  background: @mainBlockbg;
  background-size: @bgSize;
  padding: @paddingAllBlocks;
  min-height: @Blocsminheight;
  max-height: @Blocsmaxheight;
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

.mainBlock::after {
  background-color: #000;
}


/*Main Title for all pages*/

@import url('https://fonts.googleapis.com/css?family=Lato:100');

.maintitle {
  text-align: center;
  position: relative;
  overflow: hidden;
  -webkit-animation-duration: 1s;
  -webkit-animation-delay: 1s;
}

.maintitle:before {
  content: '';
  background: linear-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 250, .3)), @mainBlockbg;
  background-size: @bgSize;
  background-attachment: fixed;
  overflow: hidden;
  position: absolute;
  height: 400px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  filter: blur(@blur);
  -o-filter: blur(@blur);
  -ms-filter: blur(@blur);
  -moz-filter: blur(@blur);
  -webkit-filter: blur(@blur);
  transform: scale(@scales);
  -o-transform: scale(@scales);
  -ms-transform: scale(@scales);
  -moz-transform: scale(@scales);
  -webkit-transform: scale(@scales);
}

@media only screen and (orientation: portrait) {
  .maintitle:before {
    content: '';
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 250, .6));
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1240px) and (orientation: landscape) {
  .maintitle:before {
    content: '';
    background: linear-gradient(rgba(255, 255, 255, .6), rgba(255, 255, 250, .6));
  }
}

.maintitle h1,
.PFB h1,
.ABB h1,
.CTB h1 {
  cursor: default;
  margin: 0;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
  color: @txtColor;
  font-size: 8vw;
  font-weight: 100;
  text-transform: uppercase;
  @media (orientation: portrait) {
    left: 0;
    font-size: 16vw;
  }
}

.maintitle h4 {
  margin: 0;
  max-width: 100%;
  font-family: 'Lato', sans-serif;
  color: @txtColor;
  font-size: 3vw;
  font-weight: 100;
  text-transform: uppercase;
  @media (orientation: portrait) {
    left: 0;
    font-size: 8vw;
  }
}


/* Reflection */

.PF,
.CT,
.AB {
  -webkit-box-reflect: below -30% -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
  @media (orientation: portrait) {
    -webkit-box-reflect: below -20px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
  }
}

.PFB,
.ABB,
.CTB {
  position:relative;
  top:30px;
  text-align: center;
  margin: auto;
  padding-bottom: 60px;
  width: 50vw;
  -webkit-animation-delay: 1500ms;
  overflow: hidden;
  @media (orientation: portrait) {
    width: 100vw;
  }
}
