.mainlogo,
.right_1_,
.left_1_ {
  -webkit-transition: 1s;
  transition: 1s;
  text-align: center;
}
.mainlogo svg {
  height: 50px;
}
.mainlogo:hover .right_1_ {
  fill: rgba(122, 156, 193, 0.5);
}
.right_1_ {
  fill: rgba(0, 0, 0, 0.1);
}
.left_1_ {
  fill: rgba(252, 218, 67, 0.9);
}
